<mat-toolbar color="primary" class="mat-elevation-z6">
  <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="drawer.toggle()">menu</mat-icon>
  <img src="https://i.ibb.co/mCDQgMT/angular-logo.png" alt="logo" class="ms-3" routerLink="/">
</mat-toolbar>

<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side" opened class="mat-elevation-z6">
    <div>

      <button id="google-map" type="button" mat-button routerLink="/google-map" routerLinkActive="active-link">
        Google Map
      </button>

      <button id="phone-number" type="button" mat-button routerLink="/phone-number-input"
              routerLinkActive="active-link">
        Phone Number Input
      </button>

      <button id="github-pages" type="button" mat-button routerLink="/how-to-use-github-pages"
              routerLinkActive="active-link">
        Using Github Pages
      </button>

    </div>
  </mat-drawer>

  <div id="body" class="container">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
